*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    transform: translate3d(-260px,0,0);
    position: absolute;
    width: 260px;
    background-color: #112e66;
    left: 0;
    height: 100vh;
    transition: all .3s;  
}
.menu li{
    position: relative;
    padding: 10px;
    list-style: none;
    width: 0%;
    background-color: #17609f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* z-index: 10; */
}
.menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 5px 0px 5px 0;
    margin: 0 20px;
  }
  .menu li:hover{
      background: #0f4a7e;
  }
  .menu li.active{
    background:transparent;
  }
.content{
    margin-top: 100px;
    flex: 1;
    padding: 10px;
    background: #eee;
    transform: translate3d(0,0,0);
    transition: transform .3s;
}
input[data-function*="swipe"]{
    position: absolute;
    opacity: 0;
    /* display: none; */
}
label[data-function*='swipe']{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    display: block;
    cursor: pointer;
     transform: translate3d(0,0,0);
    transition: transform .3s;
}
input[data-function*="swipe"]:checked ~ label{
    transform: translate3d(260px,0,0);
}
input[data-function*="swipe"]:checked ~ .content{
    transform: translate3d(260px,0,0);
}
input[data-function*="swipe"]:checked ~ .sidebar{
    transform: translate3d(0,0,0);
}
input[data-function*='swipe']:checked ~ .sidebar .menu li {
    width: 100%;
  }