.wrapper{
    display: flex;
    min-height: 100vh;
}
.sidebar {
    transform: translate3d(-240px,0px,0px);
    position: absolute;
    width: 260px;
    background:#122e66;
    /* color:#eee; */
    left: 0;
    height: 100%;
    transition:all .3s;
}
.menu li{
    padding: 10px;
    list-style: none;
    width: 0;
    background-color: #17609f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu li.active{
    background-color: #112e66;
}
.menu li a{
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 5px 0px;
    margin: 0 20px;
}
.menu li:hover{
    background-color: #0f4a7e;
}
.content{
    flex: 1;
    padding: 10px;
    margin-top: 100px;
    background-color: #eee;
    transform: translate3d(0,0,0);
    transition: transform .3s;
}
input[data-function*="siwpe"]{
    position: absolute;
    opacity: 0;
    /* display: none; */
}
label[data-function="swipe"]{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    display: block;
    cursor: pointer;
    transform: translate3d(0,0,0);
    transition: transform .3s;
}
 input[data-function="swipe"]:checked ~ label[data-function*="swipe"]{
    transform: translate3d(260px,0px,0px);
}
input[data-function="swipe"]:checked ~ .content{
    transform: translate3d(245px,0px,0px);
}
input[data-funcion='swipe']:checked ~ .sidebar{
    transform: translate3d(0px,0px,0px);
}
input[data-function="swipe"]:checked ~ .sidebar .menu li{
    width: 100%;
} 
/* input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
    transform: translate3d(240px, 0, 0);
  }
  input[data-function*='swipe']:checked ~ .content {
    transform: translate3d(245px, 0px, 0px);
  }
  input[data-function*='swipe']:checked ~ .sidebar {
    transform: translate3d(0px, 0px, 0px);
  }
  input[data-function*='swipe']:checked ~ .sidebar .menu li {
    width: 100%;
  } */